@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .section {
    @apply flex-center min-h-screen py-10;
  }
  .basic-btn {
    @apply flex-center gap-2 rounded-2xl bg-gray-900 px-6 py-3 font-medium text-gray-100 transition-colors duration-[350ms] hover:bg-gray-800;
  }
}

html {
  scroll-behavior: smooth;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
